* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: hsl(0deg, 0%, 60%);
}

/* Add styles here! */
header {
  height: 40%;
  width: 100%;
  background: hsl(0deg, 0%, 100%);
  padding-top: 100px;
}

main {
  border-top: 4px solid hsl(0deg, 0%, 30%);
  padding-top: 50px;
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: hsl(0deg, 0%, 100%);
  padding: 4px 10px 16px 16px;
}

.card {
  padding-top: 2px;
}

section.max-width-wrapper {
  border-bottom: 4px solid hsl(0deg, 0%, 30%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header h1,
header p {
  max-width: 280px;
}

header p {
  font-size: 1em;
}

.indented-heading {
  color: black;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  padding: 1em 1em 1em 52px;
  width: fit-content;
  margin-left: -36px;
  font-size: 1.25rem;
}

.intro-chunk p, .intro-chunk h1, .card h1, .card p {
  padding-left: 16px;
}

.intro-chunk {
  font-size: 1rem;
}